---
import BaseLayout from '../layouts/BaseLayout.astro'
import MusicPortfolio from '../components/MusicPortfolio.astro'
---

<BaseLayout
    title='Music Portfolio | StudioDao: The Works of Long Dao'
    description='Explore the music portfolio of Long Dao, featuring compositions for video games, arrangements, and original works including Immortal Defense and Saturated Dreamers.'
    bodyClass='music-portfolio'
>
    <article
        class='music-portfolio-article'
        itemscope
        itemtype='http://schema.org/CreativeWork'
    >
        <header class='page-masthead'>
            <h1 class='page-title'>Music</h1>
            <p class='intro-description'>My original scores and arrangements</p>
        </header>
        <section class='container'>
            <MusicPortfolio />
        </section>
    </article>
</BaseLayout>
