---
import BaseLayout from "../layouts/BaseLayout.astro";
import MusicPortfolio from "../components/MusicPortfolio.astro";
---

<BaseLayout
  title="Music Portfolio | StudioDao: The Works of Long Dao"
  description="StudioDao: The Works of Long Dao"
>
  <section class="container">
    <MusicPortfolio />
  </section>
</BaseLayout>