---
import BaseLayout from '../layouts/BaseLayout.astro'
import MusicPortfolio from '../components/MusicPortfolio.astro'
---

<BaseLayout
    title='Multimedia Design | Studio Dao'
    description='Studio Dao provides world-class multimedia composition, high-end audio design, and creative scoring for local and global brands.'
    bodyClass='music-portfolio'
>
    <article
        class='music-portfolio-article'
        itemscope
        itemtype='http://schema.org/CreativeWork'
    >
        <header class='page-masthead'>
            <h1 class='page-title'>Multimedia</h1>
            <p class='intro-description'>Original compositions and multimedia works by Founder Long Dao.</p>
        </header>
        <section class='container'>
            <MusicPortfolio />
        </section>
    </article>
</BaseLayout>
