---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Web Portfolio | StudioDao: The Works of Long Dao"
  description="StudioDao: The Works of Long Dao"
  bodyClass="web-portfolio"
>

<main class="portfolio-container">
  <section class="project-card">
    <img
      src="/assets/img/webporfolio/leo2.webp"
      alt="LeoTech"
      class="header-image"
    />
    <div class="content">
      <div class="header">
        <a href="https://leotechnologies.com/" target="_blank"
          ><div class="project-title">Leo Technologies</div></a
        >
        <div>GovTech</div>
      </div>
      <div class="description">
        <p>
          AI investigative platform for high-volume audio and intelligence
          audit records.
        </p>
        <ul>
          <li>
            Frontend Architect, migrated Ember platform to React with
            Typescript
          </li>
          <li>
            Engineered interactive Node-Link and Tree charts with D3.js for
            visualizing complex relationships across disparate case files,
            aiding investigators in identifying patterns within millions of
            audio records.
          </li>
          <li>
            Designed a custom audio scrobbler engine with sub-100ms latency
            for instant interactions synchronized with real-time AI
            transcripts, incorporating temporal indexing for precise
            annotation and navigation of high-density audio data.
          </li>
          <li>
            Engineered a dynamic form engine to streamline complex
            investigative workflows, reducing user error rates by 30%
            through strict schema validation and state synchronization.
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="project-card">
    <img
      src="/assets/img/webporfolio/files.avif"
      alt="Files.com"
      class="header-image"
    />
    <div class="content">
      <div class="header">
        <a href="https://www.files.com/" target="_blank"
          ><div class="project-title">Files.com</div></a
        >
        <div>Cloud Storage Platform</div>
      </div>
      <div class="description">
        <ul>
          <li>
            Led mobile development of a secure B2B file transfer and
            automation platform for enterprise clients.
          </li>
          <li>
            Implemented a 'Hybrid First' strategy, optimizing engineering
            efficiency by sharing 90% of business logic between Web and
            Mobile (iOS/Android).
          </li>
          <li>
            Developed a global TypeScript component library to ensure design
            consistency and accelerate feature development
            organization-wide.
          </li>
          <li>
            Wrote platform-agnostic service layers to abstract API calls,
            creating a reusable layer that accelerated frontend development
            speed.
          </li>
          <li>
            Optimized large-scale file lists (10k+ items) using
            virtualization, ensuring the app remained performant with
            massive enterprise datasets.
          </li>
          <li>
            Provided mentorship on performance patterns like memoization and
            render cycles to elevate team's engineering standards.
          </li>
          <li>Triaged work across team of 5+ Sr. Engineers</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="project-card">
    <img
      src="/assets/img/webporfolio/dd.png"
      alt="DoubleDoor.io"
      class="header-image"
    />
    <div class="content">
      <div class="header">
        <a href="https://doubledoor.io/" target="_blank"
          ><div class="project-title">DoubleDoor.io</div></a
        >
        <div>International Real Estate</div>
      </div>
      <div class="description">
        <ul>
          <li>
            Directed the frontend technical strategy, aligning engineering
            decisions directly with business revenue goals in a fast-paced
            environment.
          </li>
          <li>
            Established Cl/CD workflows, TDD practices, and rigorous code
            reviews, which doubled release velocity and reduced production
            regressions.
          </li>
          <li>
            Unified architecture patterns across frontend, backend, and
            design teams to streamline the development of complex
            transaction features.
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="project-card">
    <img
      src="/assets/img/webporfolio/loopnet_orig.png"
      alt="CoStar Group"
      class="header-image"
    />
    <div class="content">
      <div class="header">
        <a href="https://www.costargroup.com/" target="_blank"
          ><div class="project-title">CoStar Group</div></a
        >
        <div>Enterprise Real Estate</div>
      </div>
      <div class="description">
        <p>
          Global leader in commercial real estate information, analytics,
          and online marketplaces. Worked across multiple CoStar Group teams
          including Loopnet.com, Apartments.com, CityFeet.com, Costar.com
        </p>
        <ul>
          <li>
            Built high-traffic features in React and Angular for LoopNet and
            Apartments.com, serving over 100 million monthly active users.
          </li>
          <li>
            Created real-time listings management with React and D3,
            ensuring precise state synchronization for financial-grade data.
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="project-card">
    <img
      src="/assets/img/webporfolio/iehp-orig_orig.jpg"
      alt="IEHP"
      class="header-image"
    />
    <div class="content">
      <div class="header">
        <a
          href="https://ewebapp.iehp.org/ProviderPortal/account/login"
          target="_blank"
          ><div class="project-title">Inland Empire Health Plan (IEHP)</div>
        </a>
        <div>Healthcare</div>
      </div>
      <div class="description">
        <p>Public healthcare plan serving over 1.2 million members.</p>
        <ul>
          <li>Migrated legacy Provider Portal to Angular</li>
          <li>
            Applied WCAG 2.0 standards to member portals, ensuring product
            accessibility and compliance for a massive user base.
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="project-card">
    <img
      src="/assets/img/webporfolio/esri.png"
      alt="ESRI"
      class="header-image"
    />
    <div class="content">
      <div class="header">
        <a href="https://www.esri.com" target="_blank"
          ><div class="project-title">
            Environmental Systems Research Institute (ESRI)
          </div></a
        >
        <div>Enterprise GIS</div>
      </div>
      <div class="description">
        <p>
          Global market leader in GIS software, location intelligence, and
          mapping.
        </p>
        <ul>
          <li>
            Front-end and Web Application development with HTML5, CSS3,
            Javascript, Angular, KnockoutJS, jQuery
          </li>
          <li>
            Created design library that features reusable web components,
            and icons with a search feature handling 100,000+ elements
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="project-card">
    <img
      src="/assets/img/webporfolio/iherb.png"
      alt="iHerb"
      class="header-image"
    />
    <div class="content">
      <div class="header">
        <a href="https://www.iherp.com" target="_blank"
          ><div class="project-title">iHerb</div></a
        >
        <div>E-Commerce</div>
      </div>
      <div class="description">
        <ul>
          <li>
            Developed for Desktop, Tablet, iOS, and Android views, jQuery
            and AJAX, ASP.NET MVC Framework (C#), IIS, TFS Source Control
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="project-card">
    <img
      src="/assets/img/webporfolio/loma.jpeg"
      alt="Loma Linda University Medical Center"
      class="header-image"
    />
    <div class="content">
      <div class="header">
        <a href="https://murrieta.lluh.org/" target="_blank"
          ><div class="project-title">
            Loma Linda University Medical Center
          </div></a
        >
        <div>Healthcare</div>
      </div>
      <div class="description">
        <ul>
          <li>
            Responsive and Pageless Design with Bootstrap and SASS,
            Wireframes with Bolsamiq, Coffeescript, Expression Engine,
            Instant Search Engine (central focus), Full Calendar
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="project-card">
    <img
      src="/assets/img/webporfolio/pbh.png"
      alt="Partners for Better Health"
      class="header-image"
    />
    <div class="content">
      <div class="header">
        <a href="https://p4bhealth.org/" target="_blank"
          ><div class="project-title">Partners for Better Health</div></a
        >
        <div>Non-profit</div>
      </div>
      <div class="description">
        <ul>
          <li>
            Responsive and Pageless Design, Bootstrap and SASS, Expression
            Engine, Coffeescript, Payment Processor Integration,
            Form/Application Integration, Email and Call to Action Modal,
            Pageless Design for main page, Analytics, SEO
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="project-card">
    <img
      src="/assets/img/webporfolio/bermu.jpg"
      alt="Bermuda- Department of Community and Culture"
      class="header-image"
    />
    <div class="content">
      <div class="header">
        <a href="https://culture.bm/" target="_blank"
          ><div class="project-title">
            Bermuda- Department of Community and Culture
          </div></a
        >
        <div>Government</div>
      </div>
      <div class="description">
        <ul>
          <li>Full Calendar and Events</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="project-card">
    <img
      src="/assets/img/webporfolio/gallery.jpg"
      alt="Bermuda National Gallery"
      class="header-image"
    />
    <div class="content">
      <div class="header">
        <a href="https://bng.bm/" target="_blank"
          ><div class="project-title">Bermuda National Gallery</div></a
        >
        <div>Government</div>
      </div>
      <div class="description">
        <ul>
          <li>
            UI Design, Logo Design, HTML5, CSS3, jQuery, Advisory Services,
            Content Management System
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="project-card">
    <img
      src="/assets/img/webporfolio/advent.jpeg"
      alt="Advent Hope"
      class="header-image"
    />
    <div class="content">
      <div class="header">
        <a href="https://advent-hope.org/" target="_blank"
          ><div class="project-title">Advent Hope</div></a
        >
        <div>Non-profit</div>
      </div>
      <div class="description">
        <ul>
          <li>
            Responsive and Pageless Design, SASS, Copy Writing, HTML5, CSS3,
            jQuery, Advisory Services
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="project-card">
    <img
      src="/assets/img/webporfolio/mtr.jpg"
      alt="Mt. Rubidoux SDA Churc"
      class="header-image"
    />
    <div class="content">
      <div class="header">
        <a href="https://www.mtrubidouxsda.org/" target="_blank"
          ><div class="project-title">Mt. Rubidoux SDA Church</div></a
        >
        <div>Non-profit</div>
      </div>
      <div class="description">
        <ul>
          <li>
            Responsive and Pageless Design with Bootstrap and SASS,
            Expression Engine, Homepage Carousel, Calendar and Events, Blog
            and RSS Feed, etc
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="project-card">
    <img
      src="/assets/img/webporfolio/kinetic.jpeg"
      alt="Kinetic Personnel Group"
      class="header-image"
    />
    <div class="content">
      <div class="header">
        <a href="https://www.kineticpersonnelgroup.com/" target="_blank"
          ><div class="project-title">Kinetic Personnel Group</div></a
        >
        <div>Agency</div>
      </div>
      <div class="description">
        <p>
          Kinetic Personnel Group is a full service staffing firm,
          specializing in professional staffing offering temporary,
          temporary to hire, and direct placement solutions.
        </p>
        <ul>
          <li>MojoMotor Engine</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="project-card">
    <img
      src="/assets/img/webporfolio/sea.png"
      alt="SeaExpress App"
      class="header-image"
    />
    <div class="content">
      <div class="header">
        <a href="#" target="_blank"
          ><div class="project-title">SeaExpress App</div></a
        >
        <div>Government</div>
      </div>
      <div class="description">
        <ul>
          <li>Mobile, IU, Project Management</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="project-card">
    <img
      src="/assets/img/webporfolio/as.jpg"
      alt="A.S. Cooper"
      class="header-image"
    />
    <div class="content">
      <div class="header">
        <a href="#" target="_blank"
          ><div class="project-title">A.S. Cooper</div></a
        >
        <div>E-Commerce</div>
      </div>
      <div class="description">
        <ul>
          <li>
            User Interface Design, Logo Design, HTML5, CSS3, jQuery,
            Advisory Services, Content Management Syste
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="project-card">
    <img
      src="/assets/img/webporfolio/center.jpg"
      alt="Center on Philanthropy"
      class="header-image"
    />
    <div class="content">
      <div class="header">
        <a href="#" target="_blank"
          ><div class="project-title">Center on Philanthropy</div></a
        >
        <div>Non-profit</div>
      </div>
      <div class="description">
        <ul>
          <li>
            User Interface Design, Logo Design, HTML5, CSS3, jQuery,
            Advisory Services, Content Management Syste
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="project-card">
    <img
      src="/assets/img/webporfolio/bermy.jpg"
      alt="BermyArtist.com"
      class="header-image"
    />
    <div class="content">
      <div class="header">
        <a href="#" target="_blank"
          ><div class="project-title">BermyArtist.com</div></a
        >
        <div>Social Networking</div>
      </div>
      <div class="description">
        <p>
          BermyArtist.com is a social networking platform that let's
          Bermuda's Artists to showcase their portfolios.
        </p>
        <ul>
          <li>
            UI Design, HTML5, CSS3, jQuery, Advisory Services, Content
            Management System
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
<section class="porfolio-wrapper"></section>
</BaseLayout>