---
// Contact Component with Email Obfuscation
---

<a class='mail' href='mailto:site@studiodao.com'>
    <div class='email'>site@<span>studio</span>dao.<span>fake</span>com</div>
</a>

<style>
    div.email > span:nth-of-type(2) {
        display: none;
    }
</style>
