---
import "../assets/css/styles.css";

export interface Props {
  title: string;
  description: string;
  bodyClass?: string;
}

const { title, description, bodyClass = "" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Long Dao,Long,Dao,Long Thanh Dao,LongeBane,KomelRush,Komel,RPG,
	Immortal Defense,Saturated Dreamers,OCRemix,Toothpick Tycoon,RPGSource,Hentai Quest,Mike Gumm,
	MLM,Shnabubula,OCRemix,VGmix,Rinkuhero,Paul Eres"
    />
    <title>{title}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "w0q7vn1lf0");
    </script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-X2V8J3Y466"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-X2V8J3Y466");
    </script>
  </head>

  <body class={bodyClass}>
    <div class="header">
      <h1>Studio Dao: The Works of Long Dao</h1>
    </div>
    <nav id="filter">
      <ul>
        <li class={Astro.url.pathname === "/" ? "selected" : ""}>
          <a href="/"><span>Music Portfolio</span></a>
        </li>
        <li class={Astro.url.pathname === "/" ? "" : "selected"}>
          <a href="/portfolio"><span>Web Portfolio</span></a>
        </li>
      </ul>
    </nav>

    <slot />

    <footer>
      <a class="mail" href="mailto:site@studiodao.com">site@studiodao.com</a>
    </footer>
  </body>
</html>